@import "tailwindcss";

@theme {
  --color-slate-900: #0f172a;
  --color-blue-400: #60a5fa;
}

html {
  scroll-behavior: smooth; /* Esto activa el deslizamiento suave en todo el portafolio */
}

:root {
  background-color: #0f172a;
}